# Node.js dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Environment files
.env

# IDE/Editor-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
